<div class="f-container">
  <div class="f-main">
    <div class = "host-content">
    <div nz-row>
      <div nz-col [nzSpan]="4">
        <div class="f-main-title" >我的首页</div>
      </div>
      <div nz-col [nzSpan]="6" >
        <button nz-button id = "settingBtn" (click)="toHostInfo()">
          <i class="anticon anticon-setting"></i><span></span>
        </button>
      </div>
      <div nz-col [nzSpan]="6" >
        <button (click)="isAuth=!isAuth">
          test isAuth
        </button>
      </div>
    </div >
      <div class="f-sub-title">总资产</div>
      <div  class = "host-parts">
        <div nz-row >
          <div *ngIf="isAuth" nz-col [nzSpan]="6" class="subParts">
            <h2>总资产</h2>
            <p class="heavyRed">0.00</p>
            <p>当前总收益为0.00</p>
          </div>
          <div *ngIf="isAuth" nz-col [nzSpan]="6" class="subParts">
            <h2>基金产品</h2>
            <p class="heavyRed">0.00</p>
          </div>
          <div *ngIf="!isAuth"nz-col [nzSpan]="12" class="subParts">
            <h2>你还没有实名认证</h2>
            <p>立即实名认证，轻松管理自己的账号资产</p>
            <button nz-button [nzType]="'primary'">立即实名认证</button>
          </div>
          <div nz-col [nzSpan]="12" class="subParts">
            <h2>储蓄罐</h2>
            <p>为你开启不一样的理财方式</p>
            <button nz-button [nzType]="'primary'">
              <i class="anticon anticon-wallet"></i>
              <span>存钱</span></button>
          </div>
        </div>
      </div>
    <div class="f-sub-title">我的持仓</div>
      <div class = "host-parts">
        <nz-table class="hostTable" #nzTable [nzPageSize]="10" style="border-radius: 0">
          <thead>
          <tr style = "background-color: hsl(0, 0%, 93%); height: 36px;">
            <th>
            <span>
              Name
            </span>
            </th>
            <th>
            <span>
              Age
            </span>
            </th>
            <th nz-th><span>Address</span></th>
          </tr>
          </thead>
          <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of ownedData">
            <td nz-td>{{data.name}}</td>
            <td nz-td>{{data.age}}</td>
            <td nz-td>{{data.address}}</td>
          </tr>
          </tbody>
        </nz-table>
      </div>
    <div class="f-sub-title">交易记录</div>
      <div class = "host-parts">
        <nz-table class="hostTable" #nzTable [nzPageSize]="10" style="border-radius: 0">
          <thead>
          <tr style = "background-color: hsl(0, 0%, 93%); height: 36px;">
            <th><span>Name</span></th>
            <th><span>Age</span></th>
            <th><span>Address</span></th>
          </tr>
          </thead>
          <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of tradeData">
            <td nz-td>{{data.name}}</td>
            <td nz-td>{{data.age}}</td>
            <td nz-td>{{data.address}}</td>
          </tr>
          </tbody>
        </nz-table>
        <div [ngStyle]="{'text-align': 'center'}">
        <button class="f-btn-big" nz-button [nzGhost]="false" [nzSize]="'large'">前去搜索</button>
      </div>
      </div>
    <div class="f-sub-title">我的收藏</div>
      <div class = "host-parts">
    <fscard [fCardList]="favFunds"></fscard>
      <div [ngStyle]="{'text-align': 'center'}">
        <button class="f-btn-big" nz-button [nzGhost]="false" [nzSize]="'large'">查看全部</button>
      </div>

      </div>
  </div>

</div>
</div>
