<div class="f-sub-title">基金概况</div>
<nz-table>
  <thead nz-thead>
  <tr>
    <th nz-th><span>基金简称</span></th>
    <th nz-th><span>{{data.a12}}</span></th>
    <th nz-th><span>基金代码</span></th>
    <th nz-th><span>————————</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr>
    <td nz-td>基金全称</td>
    <td nz-td>{{data.a21}}</td>
    <td nz-td>成立日期</td>
    <td nz-td>{{data.a23}}</td>
  </tr>
  </tbody>
  <tbody nz-tbody>
  <tr nz-tbody-tr>
    <td nz-td>基金类型</td>
    <td nz-td>{{data.a21}}</td>
    <td nz-td>交易状态</td>
    <td nz-td>{{data.a23}}</td>
  </tr>
  </tbody>
  <tbody nz-tbody>
  <tr nz-tbody-tr>
    <td nz-td>基金状态</td>
    <td nz-td>{{data.a21}}</td>
    <td nz-td>基金经理</td>
    <td nz-td>{{data.a23}}</td>
  </tr>
  </tbody>
  <tbody nz-tbody>
  <tr nz-tbody-tr>
    <td nz-td>基金公司</td>
    <td nz-td>{{data.a21}}</td>
    <td nz-td>基金托管费</td>
    <td nz-td>{{data.a23}}</td>
  </tr>
  </tbody>
  <tbody nz-tbody>
  <tr nz-tbody-tr>
    <td nz-td>基金管理费</td>
    <td nz-td>{{data.a21}}</td>
    <td nz-td>最新份额</td>
    <td nz-td>{{data.a23}}</td>
  </tr>
  </tbody>
  <tbody nz-tbody>
  <tr nz-tbody-tr>
    <td nz-td>首募规模</td>
    <td nz-td>{{data.a21}}</td>
    <td nz-td>最新规模</td>
    <td nz-td>{{data.a23}}</td>
  </tr>
  </tbody>
  <tbody nz-tbody>
  <tr nz-tbody-tr>
    <td nz-td>托管银行</td>
    <td nz-td>{{data.a21}}</td>
  </tr>
  </tbody>
</nz-table>
