<div>
  <div class="f-login-cont">
    <form nz-form [formGroup]="LoginForm" class="login-form">
      <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="LoginForm.controls.userName">
          <nz-input formControlName="userName" [nzPlaceHolder]="'Username'" [nzSize]="'large'">
            <ng-template #prefix>
              <i class="anticon anticon-user"></i>
            </ng-template>
          </nz-input>
          <div nz-form-explain *ngIf="LoginForm.controls.userName.dirty&&LoginForm.controls.userName.hasError('required')">Please input your username!</div>
        </div>
      </div>
      <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="LoginForm.controls.password">
          <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'Password'" [nzSize]="'large'">
            <ng-template #prefix>
              <i class="anticon anticon-lock"></i>
            </ng-template>
          </nz-input>
          <div nz-form-explain *ngIf="LoginForm.controls.password.dirty&&LoginForm.controls.password.hasError('required')">Please input your Password!</div>
        </div>
      </div>
      <div nz-form-item>
        <div nz-form-control>
          <label nz-checkbox formControlName="remember">
            <span>Remember me</span>
          </label>
          <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
          <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'" (click)="emitDataOutside($event)">Log in</button>
          <button [ngStyle]="{'margin-top': '8px'}" nz-button class="login-form-button" [nzSize]="'large'" (click)="emitDataOutside($event)">Reg</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="customize-footer">
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="emitDataOutside($event)">
      登 录
    </button>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
      取 消
    </button>
  </div> -->
</div>