<div class="f-container">
  <div class="f-main">
    <form nz-form [nzType]="'horizontal'" [formGroup]="questionnaireForm">
    <div nz-form-item >
      <div nz-form-label >
        <p>Radio.Group</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q1">
          <label nz-radio [nzValue]="1">
            <span>item 1</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>item 2</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>item 3</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>Radio.Group</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q2">
          <label nz-radio [nzValue]="1">
            <span>item 1</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>item 2</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>item 3</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>Radio.Group</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q3">
          <label nz-radio [nzValue]="1">
            <span>item 1</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>item 2</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>item 3</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>Radio.Group</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q4">
          <label nz-radio [nzValue]="1">
            <span>item 1</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>item 2</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>item 3</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>Radio.Group</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q5">
          <label nz-radio [nzValue]="1">
            <span>item 1</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>item 2</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>item 3</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>Radio.Group</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q6">
          <label nz-radio [nzValue]="1">
            <span>item 1</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>item 2</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>item 3</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>Radio.Group</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q7">
          <label nz-radio [nzValue]="1">
            <span>item 1</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>item 2</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>item 3</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>Radio.Group</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q8">
          <label nz-radio [nzValue]="1">
            <span>item 1</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>item 2</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>item 3</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>Radio.Group</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q9">
          <label nz-radio [nzValue]="1">
            <span>item 1</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>item 2</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>item 3</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>Radio.Group</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q10">
          <label nz-radio [nzValue]="1">
            <span>item 1</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>item 2</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>item 3</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>Radio.Group</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q11">
          <label nz-radio [nzValue]="1">
            <span>item 1</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>item 2</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>item 3</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>Radio.Group</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q12">
          <label nz-radio [nzValue]="1">
            <span>item 1</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>item 2</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>item 3</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>Radio.Group</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q13">
          <label nz-radio [nzValue]="1">
            <span>item 1</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>item 2</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>item 3</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>Radio.Group</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q14">
          <label nz-radio [nzValue]="1">
            <span>item 1</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>item 2</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>item 3</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>Radio.Group</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q15">
          <label nz-radio [nzValue]="1">
            <span>item 1</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>item 2</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>item 3</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>Radio.Group</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q16">
          <label nz-radio [nzValue]="1">
            <span>item 1</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>item 2</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>item 3</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>Radio.Group</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q17">
          <label nz-radio [nzValue]="1">
            <span>item 1</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>item 2</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>item 3</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>Radio.Group</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q18">
          <label nz-radio [nzValue]="1">
            <span>item 1</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>item 2</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>item 3</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-control nz-col [nzSpan]="12" [nzOffset]="6">
          <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="finishQuestions()">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
