.host-content{
  margin: 15px 55px;
}
.host-parts{
  padding: 20px 30px;
  border-top: solid hsla(0, 0%, 83%, 1) 1px;
}
.key{
  font-size:20px;
  font-weight: 500;
}
.value{
  font-size:20px;
  font-weight: 700;
}
.host-info-content{
  margin: 15px 55px;
}
.mybtn{
  width: 21px;
  height: 21px;
  margin-top: 5px;
}
.myrow{
  margin:5px 10px;
}
