
<div class="f-sub-title">认购相关费用</div>
<h3>前端认购费率</h3>
<nz-table>
  <thead nz-thead>
  <tr>
    <th nz-th><span>XXX</span></th>
    <th nz-th><span>XXX</span></th>
    <th nz-th><span>XXX</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr>
    <td nz-td>---</td>
    <td nz-td>---</td>
    <td nz-td>---</td>
  </tr>
  </tbody>
</nz-table>

<h3>后端认购费率</h3>
<nz-table>
  <thead nz-thead>
  <tr>
    <th nz-th><span>XXX</span></th>
    <th nz-th><span>XXX</span></th>
    <th nz-th><span>XXX</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr>
    <td nz-td>---</td>
    <td nz-td>---</td>
    <td nz-td>---</td>
  </tr>
  </tbody>
</nz-table>

<div class="f-sub-title">申购相关费用</div>
<h3>前端申购费率</h3>
<nz-table>
  <thead nz-thead>
  <tr>
    <th nz-th><span>XXX</span></th>
    <th nz-th><span>XXX</span></th>
    <th nz-th><span>XXX</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr>
    <td nz-td>---</td>
    <td nz-td>---</td>
    <td nz-td>---</td>
  </tr>
  </tbody>
</nz-table>

<h3>后端申购费率</h3>
<nz-table>
  <thead nz-thead>
  <tr>
    <th nz-th><span>XXX</span></th>
    <th nz-th><span>XXX</span></th>
    <th nz-th><span>XXX</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr>
    <td nz-td>---</td>
    <td nz-td>---</td>
    <td nz-td>---</td>
  </tr>
  </tbody>
</nz-table>

<h3>申购限制</h3>
<nz-table>
  <thead nz-thead>
  <tr>
    <th nz-th><span>XXX</span></th>
    <th nz-th><span>XXX</span></th>
    <th nz-th><span>XXX</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr>
    <td nz-td>---</td>
    <td nz-td>---</td>
    <td nz-td>---</td>
  </tr>
  </tbody>
</nz-table>

<div class="f-sub-title">赎回相关费用</div>
<h3>前端赎回费率</h3>
<nz-table>
  <thead nz-thead>
  <tr>
    <th nz-th><span>XXX</span></th>
    <th nz-th><span>XXX</span></th>
    <th nz-th><span>XXX</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr>
    <td nz-td>---</td>
    <td nz-td>---</td>
    <td nz-td>---</td>
  </tr>
  </tbody>
</nz-table>

<h3>后端赎回费率</h3>
<nz-table>
  <thead nz-thead>
  <tr>
    <th nz-th><span>XXX</span></th>
    <th nz-th><span>XXX</span></th>
    <th nz-th><span>XXX</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr>
    <td nz-td>---</td>
    <td nz-td>---</td>
    <td nz-td>---</td>
  </tr>
  </tbody>
</nz-table>

<h3>赎回限制</h3>
<nz-table>
  <thead nz-thead>
  <tr>
    <th nz-th><span>XXX</span></th>
    <th nz-th><span>XXX</span></th>
    <th nz-th><span>XXX</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr>
    <td nz-td>---</td>
    <td nz-td>---</td>
    <td nz-td>---</td>
  </tr>
  </tbody>
</nz-table>

<div class="f-sub-title">其他费用</div>
<nz-table>
  <thead nz-thead>
  <tr>
    <th nz-th><span>XXX</span></th>
    <th nz-th><span>XXX</span></th>
    <th nz-th><span>XXX</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr>
    <td nz-td>---</td>
    <td nz-td>---</td>
    <td nz-td>---</td>
  </tr>
  </tbody>
</nz-table>
