<div nz-row>
  <div nz-col [nzSpan]="12" class="details-card">
<nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
  <nz-tab>
    <ng-template #nzTabHeading>
      实时估值
    </ng-template>
    <echart style="width:550px;height: 300px;" [chartInfo]="netValueLine"></echart>
  </nz-tab>
  <nz-tab>
    <ng-template #nzTabHeading>
      重仓持股
    </ng-template>
  </nz-tab>
  <ng-template #nzTabBarExtraContent>
    <button nz-button class="myButton">历史净值</button>
  </ng-template>
</nz-tabset>
  </div>
  <div nz-col [nzSpan]="12"  class="details-card">
      <h2 class="fundName">{{fund.name}}</h2>
  </div>
</div>
<div>
  <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab>
      <ng-template #nzTabHeading>
        基金档案
      </ng-template>
      <div nz-row>
        <div nz-col [nzSpan]="12">
          <echart style="width:500px;height: 300px;" [chartInfo]="belongings"></echart>
        </div>
        <div nz-col [nzSpan]="12">
          <echart style="width:500px;height: 300px;" [chartInfo]="productions"></echart>
        </div>
      </div>
    </nz-tab>
    <nz-tab>
      <ng-template #nzTabHeading>
        概况
      </ng-template>
    </nz-tab>
    <nz-tab>
      <ng-template #nzTabHeading>
        费率
      </ng-template>
    </nz-tab>
    <nz-tab>
      <ng-template #nzTabHeading>
        财报
      </ng-template>

      <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
        <nz-tab>
          <ng-template #nzTabHeading>
            财务指标
          </ng-template>

        </nz-tab>
        <nz-tab>
          <ng-template #nzTabHeading>
            资产和负债
          </ng-template>

        </nz-tab>
        <nz-tab>
          <ng-template #nzTabHeading>
            利润分配
          </ng-template>

        </nz-tab>
      </nz-tabset>
    </nz-tab>
  </nz-tabset>
</div>
