<div class="f-main-title">产品详情</div>
<div nz-row>
  <div nz-col [nzSpan]="6"  class="details-card">
    <h1 class="fundName">{{fundDetails.name}}</h1>
    <h2 class = "infoTitle">单位净值</h2>
    <div class = "heavyFont">{{ fundDetails.netvalues[3] }}￥</div>
    <h2 class = "infoTitle">涨跌幅</h2>
    <div  class = "heavyFont">{{ fundDetails.raise_percentages[3] }}%</div>
    <button nz-button [nzType]="'primary'" id = "tobuy">
      <span>立即购买</span>
    </button>
</div>

  <div nz-col [nzSpan]="18" class="details-card">
      <nz-tabset  [nzTabPosition]="'left'">
        <nz-tab>
          <ng-template #nzTabHeading>
            实时估值
          </ng-template>
          <div id = 'netValueLine' style=" width: 590px;
                                              height: 360px;
                                              padding-top: 40px;padding-bottom: 20px;"></div>
        </nz-tab>
        <nz-tab>
          <ng-template #nzTabHeading>
            历史净值
          </ng-template>
          <div style="width: 590px; height: 360px;">
          <nz-table class="hostTable" #nzTable [nzPageSize]="10" style="border-radius: 0">
          <thead>
          <tr style = "background-color: hsl(0, 0%, 93%); height: 36px;">
            <th><span>日期</span></th>
            <th><span>净值（元）</span></th>
          </tr>
          </thead>
          <tbody nz-tbody>
          <td>
            <tr *ngFor="let data of fundDetails.dates">{{data}}</tr>
          </td>
          <td>
            <tr *ngFor="let data of fundDetails.netvalues">{{data}}</tr>
          </td>
          </tbody>
        </nz-table>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
</div>
<div class="f-main-title">信息披露</div>
<div id = "details-card-bottom">
  <nz-tabset>
    <nz-tab>
      <ng-template #nzTabHeading>
        基金档案
      </ng-template>
      <div nz-row>
        <div nz-col [nzSpan]="12">
          <div style="height:300px;width:500px;padding: 5px 30px" id = 'netValueLine2'></div>
        </div>
        <div nz-col [nzSpan]="12">
          <div style="height:300px;width:500px;padding: 5px 30px" id = 'raisePercentagesLine'></div>
        </div>
      </div>
      <div nz-row>
        <div nz-col [nzSpan]="12">
          <div id = 'belongings' style="width:500px;height: 300px;padding: 5px 30px"></div>
        </div>
        <div nz-col [nzSpan]="12">
          <div id = 'productions' style="width:500px;height: 300px;padding: 5px 30px"></div>
        </div>
      </div>
    </nz-tab>
    <nz-tab>
      <ng-template #nzTabHeading>
        概况
      </ng-template>
      <fun-details-general></fun-details-general>
    </nz-tab>
    <nz-tab>
      <ng-template #nzTabHeading>
        费率
      </ng-template>
      <fun-details-expense></fun-details-expense>
    </nz-tab>
    <nz-tab>
      <ng-template #nzTabHeading>
        财报
      </ng-template>
      <fun-details-forms></fun-details-forms>
    </nz-tab>
  </nz-tabset>
</div>
